.btn-email {
    background-color: #218395;
    color: #FFFFFF;
    border-color: #218395

}

.btn-schliessen {
    background-color: #218395;
    color: #FFFFFF;
    border-color: #218395

}


.btn-message {
    background-color: #218395;
    color: #FFFFFF;
    border-color: #218395;
    width: auto; 
    height: auto ; 
}

.background-container {
    height: 100vh;
    background: url('../../public/assets/img/clearLogo.png') center/cover no-repeat;
    background-size: contain;
    color: #000; 
    padding: 20px; 
  }

  .clmn-box{
    float: left;
    width: 33.33%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  