
form {
    width: 30%;
    background-color: #218395;
    padding: 50px;
    border-radius: 20px;
    margin: 50px auto;
    display: block;
    color: white;
}
a {
    color: white;
    transition: color 0.3s; 
}

a:hover {
    color: lightgray; 
}

